* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    text-align: center;
    padding-top: 32px;
}

q {
    display: block;
    padding-bottom: 32px;
}

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.section_container_main {
    padding: 32px 0 32px 24px;
}

.container_left {
    width: 60%;
}

.container_left img, .container_left video {
    width: 100%;
}

.container_right {
    width: 40%;
    flex-direction: column;
    margin-left: 24px;
}

.container_right_block {
    padding: 16px;
}

.container_right_block:hover {
    background-color: #D8D8D8;
}

.media_container_right{
    width: 35%;
}

.media_container_right img {
    width: 100%;
    height: auto;
}

.text_container_right {
    width: 65%;
    padding-left: 16px;
}

.text_container_right h4, .text_container_right p {
    padding-bottom: 8px;
}

q, footer, .container_right_block p, .course_block p {
    color: #808080;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 757px) {
    .desktop, .logo {
        display: none;
    }

    .mobile {
        display: block;
    }

    .mobile ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .section_container_main {
        flex-direction: column;
        padding: 0;
    }

    .container_left {
        width: 100%;
    }

    .container_right {
        width: 100%;
        margin: 0;
        /* padding: 32px 16px; */
    }

    h2 {
        margin-bottom: 16px;
    }

}

/* Header*/

header {
    background-color: white;
    width: 100%;
    height: 64px;
    position: fixed;
    top: 0;
    justify-content: space-between;
    font-weight: 200;
}

.logo {
    margin-left: 24px;
    height: 32px;
    font-size: 1.5rem;
    align-items: center;
}

.logo img {
    width: 150%;
    height: 150%;
}

#bold {
    font-weight: bold;
}

#thin {
    font-weight: thin;
    color: grey;
}

.desktop a {
    margin-right: 16px;
    
}

nav a:last-child {
    margin-right: 24px;
}

/* Banner section */

.banner {
    background-color: #D8D8D8;
    margin-top: 64px;
}

.banner .container_right {
    padding-right: 15%;
}

.banner p {
    padding: 24px 0;
}

#button {
    background-color: #3f3f3f;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    display: block;
}

@media only screen and (max-width: 757px) {
    .banner .container_right {
        padding: 32px 16px;
    }

    #button {
        background-color: #808080;
    }
}

/* Information section */

h3 {
    padding: 32px 0 24px 0;
}

#blue {
    color: #42a1f5;
}

@media only screen and (max-width: 757px) {
    .container_right_block {
        flex-direction: column;
        padding: 16px;
    }
    
    .media_container_right {
        width: 100%;
        margin: 0;
    }
    
    .text_container_right {
        width: 100%;
        padding: 32px 16px;
    }
}


/* Course section */

.course {
    flex-direction: column;
    margin: 0 56px 32px;
}

.course_row {
    margin: 32px 0 24px 0;
}

.course_block {
    flex: 1;
    margin: 0 16px 0 16px;
}

.course_block div {
    padding: 16px 0 0 16px;
}

.course_block p {
    padding-top: 8px;
}

.course_row .flex {
    flex-direction: column;
}

.course_row img {
    width: 100%;
    height: auto;
}

@media only screen and (max-width: 757px) {
    .course {
        margin: 0;
    }

    .course_block div {
        padding: 0;
    }
    
    .course_row {
        flex-direction: column;
        margin: 0;
    }

    .course_row h4 {
        background-color: #D8D8D8;
        padding: 16px 0 24px 16px;
        margin-bottom: 8px;
        font-size: 1.4rem;
        font-weight: 500;
    }
}

/* Thesis section */

.container_left h4 {
    padding: 24px 0 8px 0;
}

@media only screen and (max-width: 757px) {
    .container_left video {
        margin-bottom: 24px;
    }
}

/* Footer */

footer {
    justify-content: space-between;
    margin: 16px 24px 48px;
}

footer a {
    padding-right: 8px;
}

@media only screen and (max-width: 757px) {
    footer {
        margin: 16px;
    }
}
